html {
  font-size: 62.5%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;

  @media screen and (max-width: $medium) {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
  z-index: 1;


  @media screen and (max-width: $medium) {
    padding: 0 1rem;
  }
  @media screen and (max-width: $small) {
      padding: 0 1rem;
      margin: 0 ;
  }
}

.see-more {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 30rem;
  margin-top: 10rem;
  border: none;
  background-color: $vivid-sky-blue;
  padding: 1rem 2.2rem;
  color: black;
  border-radius: .5rem;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: rgba($vivid-sky-blue, .5);
  }

  @media screen and (max-width: $medium) {
    font-size: 1.5rem;
    padding: 5px 1rem;
    margin-top: 7rem;
  }
}