html {
  font-size: 62.5%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;

    
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
  z-index: 1;
  // background-color: tomato;


  @media screen and (max-width: $medium) {
    padding: 0 3rem;
  }
  @media screen and (max-width: $small) {
      padding: 0 1rem;
      margin: 0 ;
  }
}

.see-more {
  border: none;
  background-color: $vivid-sky-blue;
  padding: 1rem 2.2rem;
  color: black;
  margin-top: 10rem;
  border-radius: .5rem;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}