.Loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8rem);
}

.Loading {
  width: 10rem;
  height: 10rem;
  background-color: gray;
  border-radius: 1.2rem;
  animation: loading .3s linear infinite;
  
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}