.Filter {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: $small) {
    padding: 0;
    padding-top: 1rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.Form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;

  @media screen and (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;
    margin: 0;
    width: 80%;
  }

  &__group {
    text-transform: capitalize;
  }
  &__label {
    display: block;
    letter-spacing: 1.5;
    margin-bottom: 0.5rem;

    
  }

  &__control {
    width: 100%;
    background: transparent;
    font-size: 1.8rem;
    font-weight: 300;

    @media screen and (max-width: $medium) {
        margin: 0 1rem;
        width: 80%;
        font-size: 1.5rem;
    }
  }
}

.Clear__filter {
  background: $vivid-sky-blue;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  box-shadow: 0 4px rgba($vivid-sky-blue, 0.8);

  @media screen and (max-width: $medium) {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    box-shadow: none;
    border-radius: 10rem;
    border: 1px solid black;
    background-color: none;

  }

  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: translateY(4px);
  }
}


